.MainBackground {
    background-image: url("img.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-up {
    height: 1000px;
    background-color: #832727;
    font-size: 36px
}