/*Nav Bar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: blue ;
  min-height: 3em;
  ;
}

li a {
  color: #D3D3D3;
}


ul {
  width: 100%;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  padding: 1.7rem;
}

a {
  text-decoration: none;
  font-family: 'roboto';
  font-size: 1.1rem;
  color: azure;
  text-transform: uppercase;
}

ul li:hover {
  background: #000000;
  transition: all 0.2s ease-in-out;
}

.toggle {
  width: 100%;
  font-size: 2rem;
  text-align: right;
  padding: 20px;
  color: azure;
  cursor: pointer;
  display: none;
  background: #000;
}

@media (max-width: 200px) {
  .toggle {
    display: inline-block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}

/*
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}*/
 
body {
  background: url(../Final/img/images.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}









