body {
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    background-image: url("image.jpg");
    background-size: cover;
    position: relative;
    height: 300px;
}

.text {
    background-color: white;
    color: black;
    font-size: 10vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}