* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;

}
body{
    background: url(../Final/img/back\ 4.png)
}
.main {
    width: 70%;
    margin: 70px auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 5px white;
    height: 400px;
}

.main .left {
    width: 50%;
    height: 400px;
    margin: auto;
    float: left;
}

.main form{
    width: 80%;
    margin: auto;
}

.main input{
    width: 90%;
    margin: auto;
    padding: 3%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    display: block;
}

form input[type=submit] {
    width: 30%;
    border: none;
    outline: none;
    background: linear-gradient(to left, rgb(236, 0, 140), rgb(252, 103, 103));
    border-radius: 15px;
    font-weight: bolder;
    color: white;
    font-size: 19px;
    padding: 7px 0;
}

form textarea {
    width: 90%;
    margin: 3%;
    padding: 1%;
    resize: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    outline: none;
}

.main .right {
    width: 50%;
    height: 400px;
    margin: auto;
    float: left;
    background:url(../Final/img/back2.png);
    border-radius: 0 15px 15px 0;
}

.left .title  {
    width: 100%;
    margin: auto;
}

.title h1 {
    text-align: center;
    padding: 10px;
}

.right .content {
    width: 40%;
    margin: 100px auto;
}

.content p{
    padding: 10px;
    color: white;
    font-size: 18px;
}

.content  i{
    width: 40px;
    font-size: 35px;
    text-align: center;
    padding-right: 10px;
}

.backto  {
color: tomato;
text-align: center;
padding-left: 650px;
text-overflow: hidden;


}




