* {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: 202424;
}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 25px;
}

body {
    background-color: #202424;
    /* color: white; */
}

a {
    color: #198754;
    overflow: hidden;
}

a:hover {
    color: #1a5037;
    overflow: hidden;
}

input {

    color: #bebebe;
    background-color: #202020;
    border-color: #404040;

}

.navbar {
    margin-bottom: 20px;
}


.form-control {
    color: #bebebe;
    background-color: #171717;
    border-color: #404040;
}

.form-control,
.form-control:focus {
    color: #fff;
    background-color: #171717;
    border-color: #404040;
}



.page-item .page-link {
    border-color: #404040;
}

.page-item.disabled .page-link {
    background-color: #171717;

}

.page-item:not(.active) .page-link {
    background-color: #171717;
}

.page-item:not(.active) .page-link:hover {
    background-color: #242424;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8d8d8d
}

.dropdown:hover .dropdown-content {
    display: block;
}